
*.txt
db/CAKD3_TABLESPACE
db/LOG_CAKD3
-Projects/Lazy_project/AUTO_attendence_CHECK_Program/
11. Machine Learning/creditcard.csv
11. Machine Learning/Data/creditcard.csv
0. Test/10. Machine Learning 0903/dataset/credit_card.xls
*.csv
